body{
    background-color: #fff;
    position: absolute;
}

.navbar{
    max-height: 50px; 
	background-color: #cacccb; 
    font-size: 15px; 
    max-height: none; 
    padding: inherit;
}

.navbar div{
    margin: inherit; 
    background-color: white;  

}


.navbar-brand{
    color: white; 
	margin-left: 50px; 
	padding: 10px; 
	font-weight: bold; 
	background-color: hsl(161, 96%, 32%);
	font-family: Georgia, Times, "Times New Roman", serif;

.dropdown-item{
    color: #30615c; 
    float: left;
}

.dropdown-menu .dropdown-item:hover{
    background-color:#03584f; 
}

.nav-link:hover{
    background-color:gray;
}


  p {
    display: block;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 0;
    align-self: auto;
  }



.container .row{
    padding-bottom: 30px;
}

@media (max-width: 9915{
    .navbar-expand-lg{
        background-color: #fff;
    }



